.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginContainer {
  width: 500px;
  padding: 1em;
  border: 1px solic white;
  border-radius: 5px;
}

.inputStyle {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  box-sizing: border-box;
}

.loginButton {
  width: 100%;
  padding: 0.5em;
  background-color: #2da83e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginButton:hover {
  background-color: #20792c;
}

.loginButton:active {
  background-color: #13491a;
}
